<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c4b7ee56-bbc7-4664-bf23-a55d20a9086f/resourcegroups/RG-yazanalnsierat/providers/Microsoft.Web/sites/Blazorapp-portfolio-lab3-WU20250329225904</ResourceId>
    <ResourceGroup>RG-yazanalnsierat</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://blazorapp-portfolio-lab3-wu20250329225904.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b0d6ba9d-c38c-43d6-b616-38cb046341ba</ProjectGuid>
    <PublishUrl>https://blazorapp-portfolio-lab3-wu20250329225904.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Blazorapp-portfolio-lab3-WU20250329225904</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>